__mocks__/
__snapshots__/
.github/
.vscode/
coverage/
docs/
src/
test/
*.log
.*
babel.config.js
backstop.json
CHANGELOG.md
gulpfile.js
jenkinsfile
jest.config.js
karma.*
lerna.json
mocha.opts
package-lock.json
setupTests.js
sonar-project.properties
storyshots.test.js
webpack.*
yarn.lock
rollup.*